:root {
    --primary-color: #c4103d;
    --text-color: #e4e4e4;
    --background-color: #1a1a1a;
    --border-color: #e4e4e4;
    --box-shadow-color: rgba(0, 0, 0, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background-color);
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: padding .3s ease;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;   
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--text-color);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: var(--text-color);
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: var(--text-color);
}

.background {
    width: 100%;
    height: 100vh;
    background: url('prueba.png') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('prueba.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: padding .3s ease;
}

.content .logo {
    font-size: 30px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 22px;
    color: var(--text-color);
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;  
    overflow: hidden; 
}

.logreg-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--text-color);
}

.logreg-box .form-box.login {
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login {
    transform: translateX(490px);
    transition-delay: 0s;
}

.logreg-box .form-box.register {
    transform: translateX(490px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register {
    transform: translateX(0);
    transition-delay: .7s;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid var(--border-color);
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--text-color);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--text-color);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 992px) {
    .header {
        padding: 25px 5%;
    }
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .container {
        height: auto;
        padding: 20px 0;
    }
    .container .content {
        display: none; /* Hide text content on small screens */
    }
    .container .logreg-box {
        width: 100%;
        position: relative;
    }
    .logreg-box .form-box {
        border-radius: 10px;
    }
    .logreg-box .form-box.login {
        transform: translateX(0);
    }
    .logreg-box .form-box.register {
        transform: translateX(100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .logreg-box.active .form-box.login {
        transform: translateX(-100%);
    }
    .logreg-box.active .form-box.register {
        transform: translateX(0);
    }
    .form-box .input-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .header {
        justify-content: center;
    }
    .search-bar {
        display: none; /* Hide search bar on very small screens */
    }
    .text-sci h2 {
        font-size: 30px;
    }
}
